body {
  background-color: dodgerblue;
}
h1, h2, h3, h4, h5, h6 {
  color: burlywood;
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 16px;
  width: 150px;
  margin: auto;
  background-color: green;
}
.card p {
  color: black;
  text-align: center;
  font-family: sans-serif;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}
.nav li {
  float: left;
}
.nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  padding: 14px 16px;
}
.nav li a:hover {
  background-color: #006600;
}
p.footer {
  font-size: 6pt;
}
